.benefits {
  @media screen and (min-width: $desktop) {
    padding-bottom: 95px;
    padding-top: 95px;
  }
}

.benefits__list {
  @media screen and (min-width: $tablet), (max-width: 1999px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.benefits__item {
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $tablet) {
    width: 270px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.icon1::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/benefits/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon2::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/benefits/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon3::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/benefits/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon4::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/benefits/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-color;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.benefits__description {
  min-width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
