.benefits {
  padding-top: 95px;
  padding-bottom: 95px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.icon1::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon2::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon3::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon4::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-color;
}

.benefits__description {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
