.clients {
  padding-top: 95px;
  padding-bottom: 95px;
}

.clients__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-title-color;
}

.clients__list {
  display: flex;
  flex-direction: row;
  margin-right: -30px;
}

.clients__item {
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);

  &:last-child {
    margin-right: 0;
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $clients-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}
