.header {
  display: flex;
  flex-direction: row;
}

.header-portfolio {
  display: flex;
  border: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding: 32px 0px;
  margin-right: 303px;
}

.navigation__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contact__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contact {
  display: flex;
  padding: 32px 0px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-title-color;
  position: relative;
  padding-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__link-first::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: $accent-color;
  bottom: -1px;
  right: 0;
  border-radius: 2px;
}

.navigation__link-second::after {
  content: '';
  position: absolute;
  width: 78px;
  height: 4px;
  background-color: $accent-color;
  bottom: -1px;
  right: 0;
  border-radius: 2px;
}

.navigation__link.active {
  color: $accent-color;
}

.header-contact__header-email {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-contact__header-tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-contact__icon {
  margin-right: 10px;
}
