.fiter {
  display: flex;
  align-items: center;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__link {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: $secondary-title-color;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-title-color;
  }

  &.active {
    background-color: $accent-color;
    color: $primary-title-color;
  }
}
