.team {
  background-color: #f5f4fa;
  padding-bottom: 95px;
  padding-top: 95px;
}

.team__title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $secondary-title-color;

  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-title-color;
  margin-top: 30px;
}

.team-item__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.team-social__item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.team-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  fill: $clients-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primary-title-color;
  }
}

.team-social__svg {
  width: 20px;
  height: 20px;
}
