body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  padding: 10px 32px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #fff;
}

.header__span,
.footer__span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
