body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }

  @media screen and (min-width: 320px) {
    overflow: hidden;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  padding: 10px 32px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__span,
.footer__span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
